body {
    overflow-x: hidden;
}

.form-container {
    height: 100%;
}

.main-container {
    height: 100vh;
}

#uebForm {
    height: 100%;
}

.form-content {
    padding: 0 2.5% 0 2.5%;
    display: flex;
    height: 100%;
}

.form-vertical-separation-div {
    padding: 1%;
    height: 100%;
}

.form-vertical-separation-div-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-input {
    width: 100%;
}

#uebLevel {
    width: 100%;
}
#uebPeople {
    width: 100%;
}

.uebungen-preview {
    padding: 0 2.5% 0 2.5%;
    display: flex;
    flex-direction: column;
}

#uebPreviewContainer {
    height: 100vh;
    overflow-y: auto;

}


.uebungen-preview div {
    padding: 0 5px 0 5px;
    background-color: gray;
    margin: 1% 0 1% 0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.uebungen-preview-text-container * {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.uebungen-preview-img-container {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.uebungen-preview-text-attribute {
}

.uebungen-preview-img {
    height: 60px;
}

.banner {
    background-color: #ffcc00;
    color: #333;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-size: 16px;
}

.banner p {
    margin: 0;
}

nav {
    background-color: antiquewhite;
    height: 10vh;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
    position: sticky;
}